<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/index.css">

    <title>blog</title>
</head>
<body>
    <div class="container">
        <h1> Blog article </h1>

        <div class="blog">
            <% articles.forEach(article => { %>
                <div class = 'card'>
                    <div class="card-body">
                        <h3 class = 'card-title'> <%= article.title %> </h3>
                        <div class="date"> <%= article.createdAt.toLocaleString() %> </div>
                        <div id = 'a'> <a href="/article/<%= article.slug %>">show content</a> </div>
    
                        <form action="/article/<%= article.id %>?_method=DELETE"
                            method= "POST">
                            <button type="submit">delete</button>
                        </form>
                    </div>
                </div>
            <% }) %>
        </div>

        <a href="/article/new">New Article</a>
    </div>
</body>
</html>
